<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>驱逐舰/DD</string>
		<key>count</key>
		<string>0</string>
	</dict>
	<dict>
		<key>title</key>
		<string>轻巡洋舰/CL</string>
		<key>count</key>
		<string>0</string>
	</dict>
	<dict>
		<key>title</key>
		<string>航空巡洋舰/CAV</string>
		<key>count</key>
		<string>0</string>
	</dict>
	<dict>
		<key>title</key>
		<string>航空战列舰/BBV</string>
		<key>count</key>
		<string>0</string>
	</dict>
	<dict>
		<key>title</key>
		<string>水上机母舰/AV</string>
		<key>count</key>
		<string>0</string>
	</dict>
	<dict>
		<key>title</key>
		<string>登陆突击舰/LHA</string>
		<key>count</key>
		<string>0</string>
	</dict>
	<dict>
		<key>title</key>
		<string>舰队油船/AO</string>
		<key>count</key>
		<string>0</string>
	</dict>
	<dict>
		<key>title</key>
		<string>潜水母舰/SSV</string>
		<key>count</key>
		<string>0</string>
	</dict>
	<dict>
		<key>title</key>
		<string>练习巡洋舰/CT</string>
		<key>count</key>
		<string>0</string>
	</dict>
	<dict>
		<key>title</key>
		<string>鼓桶（运输用）</string>
		<key>count</key>
		<string>0</string>
	</dict>
	<dict>
		<key>title</key>
		<string>大发登陆艇</string>
		<key>count</key>
		<string>0</string>
	</dict>
</array>
</plist>
