<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>items</key>
		<array>
			<dict>
				<key>accessoryClass</key>
				<string>UITextField</string>
				<key>value</key>
				<string>100</string>
				<key>describe</key>
				<string>镇守府等级</string>
			</dict>
			<dict>
				<key>accessoryClass</key>
				<string>UISwitch</string>
				<key>value</key>
				<string>1</string>
				<key>describe</key>
				<string>舰载机熟练度默认为满格</string>
			</dict>
			<dict>
				<key>accessoryClass</key>
				<string>UISwitch</string>
				<key>value</key>
				<string>1</string>
				<key>describe</key>
				<string>按照主题颜色进行分组</string>
			</dict>
		</array>
		<key>title</key>
		<string>舰队</string>
	</dict>
	<dict>
		<key>items</key>
		<array>
			<dict>
				<key>accessoryClass</key>
				<string>UISwitch</string>
				<key>value</key>
				<string>1</string>
				<key>describe</key>
				<string>仅显示舰娘的最终改造版本</string>
			</dict>
		</array>
		<key>title</key>
		<string>舰娘</string>
	</dict>
	<dict>
		<key>items</key>
		<array>
			<dict>
				<key>accessoryClass</key>
				<string>UISwitch</string>
				<key>value</key>
				<string>0</string>
				<key>describe</key>
				<string>显示资源消耗</string>
			</dict>
			<dict>
				<key>accessoryClass</key>
				<string>UISwitch</string>
				<key>value</key>
				<string>1</string>
				<key>describe</key>
				<string>显示资材消耗</string>
			</dict>
		</array>
		<key>title</key>
		<string>改修工厂</string>
	</dict>
</array>
</plist>
